pre {
    margin: 2px 0 8px;
    padding: 18px;
    background-color: #f4f7f8;
    word-break: break-all;
    width: 100%;
    overflow: auto;
    code {
        padding: 0;
        color: inherit;
        white-space: pre-wrap;
        background-color: transparent;
    }
}

code {
    color: var(--red-500);
    background-color: var(--red-50);
    padding: 2px 3px;
    line-height: 1.5;
    letter-spacing: -.3px;
    border-radius: 2px;
    margin-right: 2px;
}